server:
  port: ${gateway.port:8080}
  error:
    include-path: never
    include-message: never
    include-stacktrace: never

spring:
  main:
    web-application-type: reactive

  config:
    name: ${discovery.name:discovery}
    import: optional:configserver:http://kyoku.poulastaa.shop:1200
  profiles:
    active: dev

  application:
    name: ${gateway.name:gateway}
    version: ${gateway.version:1.0.0}
  mvc:
    log-request-details: true
  output:
    ansi:
      enabled: ${log.ansi:detect}
  devtools: # ---------------------- LIVERELOAD ----------------------
    livereload:
      enabled: true
      port: ${gateway.livereload-port:8081}
    add-properties: true
  data: # ---------------------- REDIS ----------------------
    redis:
      host: localhost
      port: ${gateway.redis.port:1040}
      password: ${gateway.redis.password:passwordGateway}

  cloud:
    config: # --------------------------------- CONFIG-SERVER ---------------------------------
      uri: http://${domain:kyoku.poulastaa.shop}:1200
      username: admin
      password: configServer101$@
      profile: dev
      label: main
      fail-fast: true

      retry:
        initial-interval: 1000
        multiplier: 1.6
        max-attempts: 6
        max-interval: 2000

      request-connect-timeout: 5000
      request-read-timeout: 5000

    gateway:
      server:
        webflux:
          routes:
            - id: discovery
              uri: http://kyoku.poulastaa.shop:8001/
              predicates:
                - Path=/
              filters:
                - SetPath=/
            - id: discovery-static
              uri: http://kyoku.poulastaa.shop:8001/
              predicates:
                - Path=/eureka/**




debug: true

logging:
  level:
    root: ${log.level:debug}

management: # ---------------------------------- ACTUATOR ----------------------------------
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  validation:
    microservice:
      secret: ${gateway.jwt.secret:SldUIHNlY3JhdGUgdG8gdmFsaWRhdGUgcmVxdWVzdCBjb21pbmcgZnJvbSBzcHJpbmcgZ2F0ZXdheSB0byBhbGwgbWljcm9zZXJ2aWNl}
      subject: ${gateway.jwt.subject:GATEWAY_REQUEST_VALIDATION}
      issuer: ${gateway.jwt.issuer:kyoku-gateway}
      audience: ${gateway.jwt.audience:all-service}
      claim:
        key: ${gateway.jwt.claim.key:gateway-claim}
        value: ${gateway.jwt.claim.value:gateway-request}

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://kyoku.poulastaa.shop:8001/eureka/
    register-with-eureka: true
    fetch-registry: true