services:
  kyoku-user-mysql:
    image: mysql:8.4.0
    container_name: kyoku-user-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_USER_PASSWORD}
    ports:
      - "1050:3306"
    volumes:
      - ./mysql/user_db.sql:/docker-entrypoint-initdb.d/user_db.sql
      - ./mysql-data/kyoku-user-data/data:/var/lib/mysql
  kyoku-activity-mysql:
    image: mysql:8.4.0
    container_name: kyoku-activity-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_ACTIVITY_PASSWORD}
    ports:
      - "1051:3306"
    volumes:
      - ./mysql/activity_db.sql:/docker-entrypoint-initdb.d/activity_db.sql
      - ./mysql-data/kyoku-activity-data/data:/var/lib/mysql

  kyoku-playlist-mysql:
    image: mysql:8.4.0
    container_name: kyoku-playlist-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PLAYLIST_PASSWORD}
    ports:
      - "1052:3306"
    volumes:
      - ./mysql/playlist_db.sql:/docker-entrypoint-initdb.d/playlist_db.sql
      - ./mysql-data/kyoku-playlist-data/data:/var/lib/mysql

  kyoku-content-mysql:
    image: mysql:8.4.0
    container_name: kyoku-content-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_CONTENT_PASSWORD}
    ports:
      - "1053:3306"
    volumes:
      - ./mysql/content_db.sql:/docker-entrypoint-initdb.d/content_db.sql
      - ./mysql-data/kyoku-content-data/data:/var/lib/mysql
